/* Dekstop */
@media (min-width: 992px) {
    .navbar-brand, .nav-link, .display-4, .dropdown-toggle{
        color: white !important;
    }
    .nav-link {
        text-transform: uppercase;
        margin-right: 30pxs;
    }
    .dropdown-toggle {
        text-transform: uppercase;
        margin-right: 30px;
    }

    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid #0b36bc;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }


    .jumbotron {
        margin-top: -75px;
        height: 640px;
    }


}

/* Jumbotron */
.jumbotron {
    background-image: url("scott-graham.jpg");
    background-size: cover;
    height: 540px;
    text-align: center;
    }

    .jumbotron .display-4 {
        margin-top: 150px;
        text-shadow: 1px 1px 1px rgb(74, 231, 236, 0);
        font-size: 40px;
        margin-bottom: 50px;
    }